#canvas0 {
    border: 5px solid lime;
}

#canvas1 {
    border: 5px solid lime;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
    display:inline-block; 
}  

.text {
    color: white;
}

body {
    background-color: black;
}